<div class="jumbotron">
<h1>Lesson <small><%= @lesson.name %></small></h1>
</div>
  <body>
    <div class = "col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @lesson.name %> Info</h3>
        </div>
        <div class="panel-body">
          Lesson Number: <%= @lesson.number %>
        </div>
      </div>
    </div>
  </body>
